.link-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -100%;
    height: 3px;
    border-radius: 8px;
    width: 100%;
    background-color: $c-secondary;
    transition: 0.25s;
  }

  &:hover {
    &:before {
      left: 0;
    }
  }
}
