.theme {
  &--ps {
    background-color: #fab519;
  }

  &--bw {
    background-color: #1d183b;
  }

  &--afi {
    background-color: whitesmoke;
  }

  &--hoy {
    background-color: #0055c4;
  }

  &--jd {
    background-color: #144941;
  }

  &--swi {
    background-color: #003876;
  }

  &--atg {
    background-color: #d2d2d2;
  }

  &--ms {
    background-color: #ff80ab;
  }

  &--lfs {
    background-color: #31b1b4;
  }

  &--fs {
    background-color: #3e4929;
  }

  &--cn {
    background-color: whitesmoke;
  }

  &--jp {
    background-color: #feebfe;
  }

  &--th {
    background: #5433ff;
    background: linear-gradient(90deg, #5433ff 0, #20bdff);
  }
}
