// Colours

$c-primary: #086375;
$c-secondary: #1dd3b0;
$c-tertiary: #00f;
$c-quarternary: #f0f;
$c-white: #fff;
$c-overlay: #08637550;

// Containers

$container-sm: 768px;
$container-md: 991px;
