@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Poppins&display=swap");
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1.5rem;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #1dd3b0;
}

p {
  margin-bottom: 0.75rem;
}

ul {
  padding-left: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #086375;
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header {
  padding: 10px 0;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-links {
  align-self: center;
  display: flex;
  justify-self: end;
}
.header-toggle {
  width: 40px;
  height: 40px;
  background-color: blue;
}
.header-nav {
  display: none;
}
.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #086375;
}
.header-logo {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #086375;
}
.header-logo:hover .header-letter span {
  left: 0;
}
.header-letter {
  position: relative;
  margin-right: 10px;
  line-height: 1;
}
.header-letter span {
  position: absolute;
  left: 8px;
  bottom: 2px;
  color: #1dd3b0;
  transition: 0.25s;
}

.footer {
  background-color: #086375;
  text-align: center;
  margin-top: auto;
}
.footer-top {
  padding: 25px 0;
}
.footer-top ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer-top ul li {
  margin: 0 8px;
}
.footer-top ul li a {
  color: #fff;
}
.footer-bottom {
  background-color: #1dd3b0;
  padding: 10px 0;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  background-color: #1dd3b0;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-top: 20px;
  color: #086375;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
}
.btn:hover {
  background-color: #086375;
  color: #fff;
}

.link-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.link-hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -100%;
  height: 3px;
  border-radius: 8px;
  width: 100%;
  background-color: #1dd3b0;
  transition: 0.25s;
}
.link-hover:hover:before {
  left: 0;
}

.banner {
  padding-top: 10px;
  opacity: 0;
  animation: 1s fadeIn forwards;
}
.banner-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.banner-image {
  justify-self: end;
  grid-row: 1;
  height: 100px;
  width: auto;
}

.highlight {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1rem;
  background-color: #1dd3b0;
  color: #fff;
}

.highlight-bounce {
  position: relative;
}
.highlight-bounce:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1dd3b0;
  height: 32%;
  width: 100%;
}
.highlight-bounce:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #086375;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: 1s bounce infinite;
}
.highlight-bounce:last-child:after {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@media (min-width: 768px) {
  .banner {
    padding-top: 100px;
  }
  .banner-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .banner-text {
    grid-column: 1/4;
  }
  .banner-image {
    align-self: end;
    grid-row: 1;
    grid-column: 4/5;
    height: 300px;
  }
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.project-pane {
  height: 25vh;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
  transition-delay: 0.5s;
}
.project-pane img {
  transform: scale(1);
  transition: 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-pane:hover img {
  transform: scale(0.8);
}
.project-pane.active {
  transform: translateY(0);
  opacity: 1;
}
.project-pane-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 99, 117, 0.3137254902);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s opacity;
  border-radius: 0.5rem;
}
.project-pane-overlay span {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #086375;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  color: #fff;
  padding: 20px;
  text-align: center;
  transform: translateY(-10px);
  opacity: 0;
  transition: 0.5s;
}
.project-pane-overlay:hover {
  opacity: 1;
}
.project-pane-overlay:hover span {
  opacity: 1;
  transform: translateY(0);
}
.project-screenshot {
  width: 100%;
  height: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  overflow: hidden;
}
.project-screenshot--mob {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

@media (min-width: 991px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section {
  padding: 50px 0;
  opacity: 0;
  transition: 1s opacity;
  transform: translateY(-30px);
}
.section.active {
  opacity: 1;
  transition-delay: 0.5s;
  transform: translateY(0px);
}
.section--dark {
  background-color: #ececec;
}
.section--offer {
  text-align: center;
}
.section--offer .grid-item {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(-30px);
}
.section--offer.active .grid-item {
  opacity: 1;
  transform: translateY(0);
}
.section--about {
  padding-bottom: 100px;
  z-index: 100;
}
.section--about .grid-item {
  position: relative;
}
.section--about .grid-item ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  width: 100%;
}
.section--about .grid-item ul li {
  justify-content: space-between;
  margin-right: 20px;
}
.section--about .grid-item ul li:first-child {
  margin-right: 20px;
}
.section--about .grid-item .icon-ironhack {
  position: absolute;
  right: 10px;
}
.section--about:after {
  content: "";
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 130px;
  background-image: url("/images/gif/point-down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.timeline {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.timeline:before {
  content: "";
  height: 100%;
  width: 10px;
  border-radius: 8px;
  top: 0;
  left: 50%;
  background-color: #086375;
  position: absolute;
}
.timeline-title {
  text-align: center;
}
.timeline-item {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 50px;
  position: relative;
  justify-content: flex-end;
  transform: translateX(-50px);
  transition: 1s;
  transition-delay: 0.5s;
}
.timeline-item.active {
  transform: translateX(0px);
}
.timeline-image {
  border-radius: 8px 0 0 8px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
}
.timeline-image--contain {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 8px;
}
.timeline-text {
  padding: 20px;
  width: 70%;
}

@media (min-width: 768px) {
  .timeline-item {
    max-width: 70%;
  }
  .timeline-item:nth-child(even) {
    margin-left: auto;
    transform: translateX(50px);
  }
  .timeline-item:nth-child(even).active {
    transform: translateX(0px);
  }
}
.theme--ps {
  background-color: #fab519;
}
.theme--bw {
  background-color: #1d183b;
}
.theme--afi {
  background-color: whitesmoke;
}
.theme--hoy {
  background-color: #0055c4;
}
.theme--jd {
  background-color: #144941;
}
.theme--swi {
  background-color: #003876;
}
.theme--atg {
  background-color: #d2d2d2;
}
.theme--ms {
  background-color: #ff80ab;
}
.theme--lfs {
  background-color: #31b1b4;
}
.theme--fs {
  background-color: #3e4929;
}
.theme--cn {
  background-color: whitesmoke;
}
.theme--jp {
  background-color: #feebfe;
}
.theme--th {
  background: #5433ff;
  background: linear-gradient(90deg, #5433ff 0, #20bdff);
}/*# sourceMappingURL=globals.css.map */